
.footer {
    background-color: #475c71; 
    color: #dfe3e6; 
    padding: 50px 20px;
    text-align: center;
    font-family: "Arial", sans-serif;
  }

  .footer-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 30px;
  }
  

  .footer-section {
    flex: 1;
    min-width: 250px;
    text-align: left;
  }
  

  .footer-section h3 {
    font-size: 20px;
    color: #ffffff; 
    margin-bottom: 20px;
    font-weight: bold;
    text-transform: uppercase;
  }
 
  .footer-links {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    margin-bottom: 10px;
  }
  
  .footer-links a {
    color: #bdc3c7;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color: #f1c40f; 
    font-weight: bold;
  }
  

  .footer-social {
    display: flex;
    gap: 15px;
    margin-top: 10px;
  }
  
  .footer-social a {
    display: inline-block;
    color: #bdc3c7;
    font-size: 28px; /* Bigger Icons */
    transition: color 0.3s ease, transform 0.2s ease;
  }
  
  .footer-social a:hover {
    color: #f1c40f;
    transform: scale(1.2);
  }
  
 
  .footer-newsletter input {
    width: 100%;
    padding: 12px;
    border: 2px solid #34495e;
    background-color: #34495e;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
    font-size: 16px;
  }
  
  .footer-newsletter input::placeholder {
    color: #bdc3c7;
  }
  
  .footer-newsletter button {
    margin-top: 12px;
    width: 100%;
    padding: 12px;
    background-color: #f1c40f; 
    color: #2c3e50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    transition: background 0.3s ease, transform 0.2s ease;
  }
  
  .footer-newsletter button:hover {
    background-color: #e67e22;
    transform: scale(1.05);
  }
  
 
  .footer-bottom {
    /* margin-top: 30px; */
    /* border-top: 2px solid #444; */
    /* padding-top: 20px; */
    font-size: 14px;
    color: #bdc3c7;
  }
  